<header>
  <a class='a-site-title' href='/'><h1 class="site-title"><%= theme.title %></h1></a>
  <p class="site-description"><%= theme.subtitle %></p>
  <div class='typing-container'>
    <span id='typed-text'></span>
    <span class='cursor'>_</span>
  </div>
</header>