<div class='underParagraph'><article class="post-full">
  <div style='text-align: center;'>
  <img class='avatar' src='<%= theme.avatar %>'>
  <div><%= config.author %></div>
  </div>
  <div class="content"><%- page.content %></div>
</article></div>
